asgiref
atomicwrites
attrs
black
certifi
cffi
charset-normalizer
click
colorama
coreapi
coreschema
cryptography
defusedxml
Django
django-filter
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
flake8
idna
iniconfig
isort
itypes
Jinja2
MarkupSafe
mccabe
mypy-extensions
oauthlib
packaging
pathspec
platformdirs
pluggy
py
pycodestyle
pycparser
pyflakes
PyJWT
pytest
pytest-django
pytest-pythonpath
python-dotenv
python3-openid
pytz
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sqlparse
toml
tomli
typing_extensions
uritemplate
urllib3
